/* .header{
    background-color: #00308F;
} */

.bt-link{
    text-decoration: none;
    border: none;
    color: #5C5C5C;
    font-family: Montserrat;
    font-size: 14px;

}

.bt-link:hover{
    color:#E16868;
    text-decoration: none
}

.s-cart:hover .modal-cart{
    visibility: visible
}