.acc{
    font-size: 13px;
}

.reg{
    background-image: linear-gradient(120deg, #E16868 0%, rgb(108, 212, 210) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    padding: 5px;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
    color: #E16868
}

.reg:hover {
      background-size: 100% 88%;
      color:#FFF9F9;
      font-weight: 900;
      text-decoration: none
    }
  